{% extends 'index.html' %}
{% block content %}
  <div class="container  bg-light">
        <div class="row d-flex justify-content-center mt-4">
            <img style="height:50px;" src="https://media-exp1.licdn.com/dms/image/C510BAQFO1hAAXUH7qw/company-logo_200_200/0/1575358701761?e=2159024400&v=beta&t=dzLXf90EKpR9SGErs7SJ5DWJFz4IHzLOdS2NLB56T08">
            <h3 class="ml-2" style="text-decoration:underline;text-decoration-style: double;">Across The Globe</h3>
        </div>
        <form method="post" action="{% url 'result' %}" class="form mt-5">
            {% csrf_token %}
            <input type="text" name="URL" id="URL" placeholder="Enter the URL" class="w-100 form-control">
            <button class="btn btn-primary w-100 mt-3" type="submit">
            <div class="row d-flex justify-content-center ">
                <span class="text-white">Search</span>
            </div>
            </button>
        </form>
    </div>

{% endblock %}